<html>
<head>
<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<script type = "text/javascript" src = "{{ url_for('static', filename = 'd3.v3.min.js') }}"></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'socket.io.min.js') }}"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<div id="page" align="center">
		<div id="content" style="width:1200px">
		<div id="logo">
				
			</div> 
			<div id="topheader">
		<div align="left" class="bodytext">
			<div class="leftpic"><img src="{{url_for('static', filename='JMS_RGB_72dpi.png')}}" width="120" height="80"></div>
			<div class="rightpic"><img src="{{url_for('static', filename='JG_RGB_72dpi.png')}}" width="120" height="60"></div>			
					<br />
					
					
				</div>
				
			</div>
			<div id="menu">
				<div align="middle" style="padding:5px;">
                <a class="btn22" 	href="{{url_for('live')}}"><span>Sensors</span> </a>&nbsp;
				<a class="btn22" 	href="{{url_for('historia')}}"><span>History</span> </a>&nbsp;
				<!---  <a class="btn22" 	href="{{url_for('live')}}"><span>Sensorit</span> </a>&nbsp; --->
				<a class="btn22" 	href="{{url_for('yllapito')}}"><span>Maintenance</span> </a>&nbsp;
	
				<div id="time" class="btn22">
				<!--
				<script> 
				var Vari = setInterval(function(){ livetime() }, 1000);
				
				function livetime() {
				var time = "{{livetime}}";
				document.getElementById("time").innerHTML = time;
				//console.log(time)
				}
				</script>
				-->

				</div>	
				</div>
				
			</div>
			<div id="action">
				<div id="contenttext">
					<div class="bodytext" style="padding:12px;" align="middle">
                         {% block content %}{% endblock %}
              		</div>
			</div>	
			<div id="footer" class="smallgraytext">
				Jukitech Group Oy
				&copy; 2018 
			</div>
		</div>
	</div>
</body>
</html>
